.vs/
.vscode/
.idea/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
# Ignore appsettings.json
TaskManagementSystemAPI/appsettings.json

# Ignore other sensitive files (example)
TaskManagementSystemAPI/appsettings.Development.json

